<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suhas Chokkaku </title>
</head>
<body>

<h1> Welcome to my HTML page!!</h1>
<img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png" width="221" height="92" alt="QUEST logo">
<!-- Introduction, includes both professional and fun -->
<h2> Who am I?</h2>
<p> I am a second-year student at the University of Maryland, College Park, studying <strong>Aerospace Engineering.</strong> Currently, my professional interests include material science in crash protection systems; hypersonic entry, reentry, and atmospheric flight; guidance, navigation, and control systems; and thermal control and heat transfer in extreme environments. I am deeply passionate about advancing technologies that will <strong>transform space exploration</strong> and <strong>broaden our understanding of the unknown world.</strong></p>
<p>In addition to my studies, I'm part of multiple organizations and programs on campus, such as Theta Tau (Professional Co-ed Engineering Fraternity) and the QUEST Honors Program. In my free time, I like to work out, travel, listen to music, play sports (primarily basketball and spikeball), and hang out with my friends.</p>
<!-- Starting to include hyperlinks -->
<h2> What is The Purpose of This Page?</h2>
<p> This semester, I am taking a QUEST elective titled "Quality Web Development in Business," where we are learning about some of the basics of web development in order to <strong>create a webpage for a client.</strong> Although I've had some previous coding experience through my engineering classes, I wanted to further my coding skills by exploring the processes behind web development, including both <em>frontend</em> and <em>backend</em> development. At the time of this page's publication, we are learning how to use HTML and understanding its syntax, therefore I'm making this page to showcase my HTML skills. Here is a link to one of my first pages, <a href = "https://schokk73.pythonanywhere.com/hello"> Hello World</a>.</p>
<!-- Making lists below. -->
<h3> Here is some more information about me:</h3>
<p> Fun Facts:</p>
<ul>
    <li> I have the same birthday as my sister, but she's two years older than me.</li>
    <li> I can juggle.</li>
    <li> I know how to DJ.</li>
</ul>
<p> My favorite music artists :</p>
<ol>
    <li> Don Toliver</li>
    <li> The Weeknd</li>
    <li> Travis Scott</li>
    <li> Giveon</li>
    <li> PartyNextDoor</li>
</ol>
<p>Here is a link to one of my favorite <a href = "https://open.spotify.com/playlist/37i9dQZF1EIYzTRoCVaxhb?si=yzpvvfpYTqeWBvziGAoJgA" target="_blank">Don Toliver</a> mixes. </p>
<!-- Made table below with class information -->
<p> Below is a list of some classes that I've taken before and when I took them:</p>
    <table>
        <tr>
            <th> Course</th>
            <th> Semester Taken</th>
        </tr>
        <tr>
            <td> ENAE202</td>
            <td> Spring 2025</td>
        </tr>
        <tr>
            <td> ENES220</td>
            <td> Spring 2025</td>
        </tr>
        <tr>
            <td> MATH241</td>
            <td> Fall 2024</td>
        </tr>
    </table>


</body>
</html>